.header {
    transition: all 0.5s;
    z-index: 997;
    height: 50px;
    box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #f6f9ff;
    padding-left: 20px;
}

/* Searchbar */
/* Toggle Sidebar Button */
.header .toggle-sidebar-btn {
    font-size: 26px;
    padding-left: 0;
    cursor: pointer;
    color: #1ea7fd;
}